.Header {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    width: 80%;
    padding: 2%;
    align-self: center;
    margin: 0px;
    align-items: center;
    
}

button {
    border-radius: 30px;
    height: 40px;
    width: 120px;
    background-color: transparent;
    color:#4a1ee3 ;
    border-color: #4a1ee3;
}
.btn.dark {
    color: white ;
    border-color: white;
}

img.logo-gifos {
    height: 60px;
}